# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# SQLite
*.db

# Pytest
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db